﻿
@{
    ViewBag.Title = "Index";
}

<title>ReaderBook</title>
<style>
  
   
    .titulo {
    
        display: inline;
        color: gold;
    }


    .imagem {
        width: 300px;
        height: 350px;
        position: relative;
        float: right;
    }


    .vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color:white;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color:gold;
}

.vertical-menu a.active {
  background-color:gold; /* Add a gold color to the "active/current" link */
  color: white;
}
.image{
    width:1150px;
}

.esquerda {
    float:left;
}

.direita {
    float:right;
}
.l1{
      width: 100px;
    height: 100px;
}
</style>

    <h1 class="titulo">Reader Book</h1>
    <br />
    <br />
    <div>
        <div class="vertical-menu esquerda">
            <a href="#" class="active">Gêneros</a>
            <a href="#">Ação</a>
            <a href="#">Aventura</a>
            <a href="#">Comédia</a>
            <a href="#">Ficção Cientifica</a>
            <a href="#">Romance</a>
            <a href="#">Terror</a>
        </div>
        <br /><br />

        @Html.ActionLink("Adicionar livro", "Inserir", "Livraria")

        <br /><br />

        @Html.ActionLink("Consultar livro", "Listar", "Livraria")

        <br /><br />

        @Html.ActionLink("Adicionar venda", "InserirVendas", "Livraria")

        <br /><br />

        @Html.ActionLink("Consultar venda", "ListarVendas", "Livraria")

        <div class="vertical-menu direita">
            <img class="l1" src="~/Imagens/livro1.png">
        </div>

    </div>
<br />
    <br />
    <br />
<br />
<br />
<br />
<img class="image" src="~/Imagens/plagio.png">
   

